@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&display=swap');

body {
  margin: 0;
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #b28b5a;
  color: #1a1a1a;
  text-align: center;
}
/* -----------------------HEADER----------------------- */
header {
  position: sticky;
  top: 0;
}

.banner {
  background-color: #000;
  color: floralwhite;
  padding: 8px;
  font-size: 14px;
}

.titulo-menu {
    color: floralwhite;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    padding: 2rem;
    font-size: 20px;
}

#panelhamburguesa {
    height: 100vh;
    width: 200px;
    position: fixed;
    top: 15vh;
    left: -1000px;
    transition: left .7s ease;
}

#panelhamburguesa:target {
    left: 2%;
}

#cerrar {
    display: none;
}

#panelhamburguesa:target ~ header nav #abrir {
    display: none;
}

#panelhamburguesa:target ~ header nav #cerrar {
    display: inline-block;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.logo {
  height: 100px;
}

.icon {
  height: 40px;
}
/* -----------------------HEADER----------------------- */
/* -----------------------MAIN----------------------- */
.bloque-section {
  margin: 40px 100px;

}

h2 {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.producto {
  margin-bottom: 30px;
}

.producto img {
  width: 400px;
  max-width: 90%;
}

.letra-producto {
  font-weight: bold;
  margin-top: 10px;
}

.producto-row {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  flex-wrap: wrap;
}

.musica-section {
  background-image: linear-gradient(to right, rgb(0 0 0 / .3), rgb(0 0 0 / .3)), url(./multimedia/fondotravis.jpg)

}

h1 {
  font-weight: bold;
  font-size: 50px;
  color: floralwhite;
  padding: 50px;
}

.link-musica {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  padding: 40px;
}

.link-musica a img{
  width: 300px;
}

.link-album {
  display: flex;
  justify-content: space-around;
  padding-top: 80px;
}

.link-album p {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 20px;
  color: floralwhite;
}

.link-album a img {
  width: 400px;
}
/* -----------------------MAIN----------------------- */
/* -----------------------FOOTER----------------------- */
footer {
  display: flex;
  justify-content: space-around;
  background-color: #000;
  padding: 20px;
}
footer a {
  text-decoration: none;
  color: floralwhite;
}
/* -----------------------FOOTER----------------------- */